@import 'mdui/mdui.css';
@import './typescale.css';
body {
	font-family: Roboto,Noto Sans SC,PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,"Microsoft Sans Serif",WenQuanYi Micro Hei,sans-serif;
	background-color: rgb(var(--mdui-color-background));
	transition: opacity var(--mdui-motion-duration-short2) var(--mdui-motion-easing-linear);
}

mdui-card {
	width: 100%;
	padding: 0px 10px 16px;
}

mdui-text-field {
	margin: 5px 0px;
}

.responsive-image {
    width: auto;
    height: 100%;
}

.toolbar {
	display: flex; /* 启用 Flexbox */
	justify-content: space-between; /* 项目间均匀分布 */
	width: 100%; /* 工具栏宽度为父容器宽度 */
	margin: 10px auto 0; /* 居中工具栏 */
	background-color: rgb(var(--mdui-background-color));
	padding: 0px; /* 内边距 */
}
.toolitem {
	flex: 1; /* 每个项目占用相同宽度 */
	text-align: center; /* 文本居中 */
	padding: 0px; /* 内边距 */
	margin: 0 5px; /* 间距 */
	box-sizing: border-box; /* 包括边框和内边距 */
}
.toolitem:first-child {
	margin-left: 0; /* 去掉第一个项目的左间距 */
}
.toolitem:last-child {
	margin-right: 0; /* 去掉最后一个项目的右间距 */
}
.tool-button {
	margin: 10px 0px;
}

.warn {
	background-color: rgb(var(--mdui-color-error));
	color: rgb(var(--mdui-color-on-error));
}

.bar {
	display: flex;
	flex-direction: row;
}

.load-progress {
	margin: 10px;
}

.smooth-mode-switch {
	transition: opacity var(--mdui-motion-duration-short2) var(--mdui-motion-easing-linear);
}

