.typescale-body-large {
	line-height: var(--mdui-typescale-body-large-line-height);
	font-size: var(--mdui-typescale-body-large-size);
	letter-spacing: var(--mdui-typescale-body-large-tracking);
	font-weight: var(--mdui-typescale-body-large-weight);
}

.typescale-body-small {
	line-height: var(--mdui-typescale-body-small-line-height);
	font-size: var(--mdui-typescale-body-small-size);
	letter-spacing: var(--mdui-typescale-body-small-tracking);
	font-weight: var(--mdui-typescale-body-small-weight);
}

.typescale-label-small {
	line-height: var(--mdui-typescale-label-small-line-height);
	font-size: var(--mdui-typescale-label-small-size);
	letter-spacing: var(--mdui-typescale-label-small-tracking);
	font-weight: var(--mdui-typescale-label-small-weight);
}

.typescale-headline-small {
	line-height: var(--mdui-typescale-headline-small-line-height);
	font-size: var(--mdui-typescale-headline-small-size);
	letter-spacing: var(--mdui-typescale-headline-small-tracking);
	font-weight: var(--mdui-typescale-headline-small-weight);
}

.typescale-headline-large {
	line-height: var(--mdui-typescale-headline-large-line-height);
	font-size: var(--mdui-typescale-headline-large-size);
	letter-spacing: var(--mdui-typescale-headline-large-tracking);
	font-weight: var(--mdui-typescale-headline-large-weight);
}

